black>=23.9.1,<24.0
Django>=4.2.5,<4.3
django-debug-toolbar>=4.2.0,<4.3
django-filter>=23.3,<23.4
flake8>=6.1.0,<6.2
psycopg>=3.1.9,<3.2
pytest>=7.4.2,<7.5
pytest-django>=4.5.2,<4.6
python-decouple>=3.8,<3.9